<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Food Details Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='food-details/food-details.css') }}">
    <script src="{{ url_for('static', filename='food-details/food-details.js') }}" defer></script>
</head>
<body>

<main>
    <div class="name-container">
        <div class="name" id="name">
            <h1>
                {% if food_info["brandOwner"] %}
                    {{food_info["brandOwner"]}}
                {% else %}
                    <s>UNBRANDED</s>
                {% endif %}
            </h1>
        </div>
    </div>
    <div class="content-container">
        <div class="content">
            <div class="content-item">
                <header class="title">Category:</header>
                <div class="description">
                    {% if food_info["brandedFoodCategory"] %}
                        {{food_info["brandedFoodCategory"]}}
                    {% else %}
                        <p>N/A</p>
                    {% endif %}
                </div>
            </div>
            <div class="content-item">
                <header class="title">Food Description:</header>
                <div class="description"> {{food_info.description}}</div>
            </div>
            <div class="content-item">
                <header class="title">Portion Size:</header>
                <div class="description">{{food_info['servingSize']}} {{food_info['servingSizeUnit']}}</div>
            </div>
            <div class="content-item">
                <header class="title">Energy:</header>
                <div class="description">{{nutrients_info['calories']['value']}} kcal</div>
            </div>
            <div class="content-item">
                <header class="title">Protein:</header>
                <div class="description">{{nutrients_info['protein']['value']}} g</div>
            </div>
            <div class="content-item">
                <header class="title">Fat:</header>
                <div class="description">{{nutrients_info['fat']['value']}} g</div>
            </div>
            <div class="content-item">
                <header class="title">Carbohydrate:</header>
                <div class="description">{{nutrients_info['carbohydrates']['value']}} g</div>
            </div>
            <div class="content-item">
                <header class="title">Fiber:</header>
                <div class="description">{{nutrients_info['fiber']['value']}} g</div>
            </div>
            <div class="content-item">
                <header class="title">Sugars:</header>
                <div class="description">{{nutrients_info['sugars']['value']}} g</div>
            </div>
            <div class="content-item">
                <header class="title">Cholesterol:</header>
                <div class="description">{% if nutrients_info['cholesterol'] %}
                    {{nutrients_info['cholesterol']['value']}}
                    {% else %} 0
                {% endif %} mg</div>
            </div>
        </div>
    </div>
</main>
</body>
</html>