<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='food-search.css') }}">
</head>
<body>

{% for food in food_list %}
    <span class="hidden">{{ food["fdcId"] }}</span>
    <p>{{ food["description"] }}</p>
    <p>{{ food["brandOwner"] }}</p>
    <p>{{ food["servingSize"] }}</p>
    {% set serving_size = food["servingSize"] / 100%}
    <p>{{ serving_size }}</p>
    {% for nutrient in food["foodNutrients"] %}
        {% if nutrient["nutrientId"] == 1008 %}
            {% set calorie_count_per_portion = nutrient["value"] * serving_size %}
            {{ (calorie_count_per_portion)|round(1) }}

            {% endif %}
        {% endfor %}
{% endfor %}

</body>
</html>