<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>{{ food_info['description'] }}</h1>
<p>GTIN/UPC: {{ food_info['gtinUpc'] }}</p>
<p>Food Category: {{ food_info['brandedFoodCategory'] }}</p>
<p>Brand Owner: {{ food_info['brandOwner'] }}</p>
<p>Portion: {{ food_info['servingSize'] }}{{ food_info['servingSizeUnit'] }}</p>
<p>Energy: {{ nutrients_info['calories']['value'] }} kcal</p>
<p>Protein: {{ nutrients_info['protein']['value'] }} g</p>
<p>Fat: {{ nutrients_info['fat']['value'] }} g</p>
<p>Carbohydrate: {{ nutrients_info['carbohydrates']['value'] }} g</p>
<p>Fiber: {{ nutrients_info['fiber']['value'] }} g</p>
<p>Sugars: {{ nutrients_info['sugars']['value'] }} g</p>
<p>Cholesterol: {{ nutrients_info['cholesterol']['value'] }} mg</p>

</body>
</html>
