<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='nutrients_page.css') }}">
</head>
<body>

<h1>{{ desc }}</h1>
<p>GTIN/UPC: {{ gtin_upc }}</p>
<p>Food Category: {{ food_category }}</p>
<p>Brand Owner: {{ brand_owner }}</p>
<p>Portion: {{ serving_size }}</p>
<p>Energy: {{ energy }} kcal</p>
<p>Protein: {{ protein }} g</p>
<p>Fat: {{ fat }} g</p>
<p>Carbohydrate: {{ carbohydrate }} g</p>
<p>Fiber: {{ fiber }} g</p>
<p>Sugars: {{ sugars }} g</p>
<p>Cholesterol: {{ cholesterol }} mg</p>

</body>
</html>