<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='search_page/style-search_page.css') }}">
    <link rel="stylesheet" href="../static/search_page/style_search_page.css">
    <script src="https://kit.fontawesome.com/8e9929512e.js" crossorigin="anonymous"></script>
    <title>Nourish: Search Page</title>
</head>
<body>
    <header class="title">
        <!-- Add back arrow to opening website -->
        <h1 class="page-title">nourish.</h1>
        <div class="title-underline"></div>

    </header>

    <main>
        <div class="search-box">
            <form id="form" action="search" method="GET">
                <input id="input" type="text" class="input" name="q" placeholder="Please input a food item or select the following tags">
                <div class="buttons">
                    <button id="clear" class="btn">
                        <i class="fa-solid fa-circle-xmark fa-xl" style="color: #F2F0D9;"></i>
                    </button>
                    <button type="submit" class="btn" value="Submit">
                        <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #F2F0D9;"></i>
                    </button>
                </div>
            </form>
        </div>

        <div class="example_food_container">
            <!-- insert food icons here -->
            <img src="{{ url_for('static', filename='search_page/ice_cream.svg') }}" alt="" class="ice-cream">
            <img src="{{ url_for('static', filename='search_page/donuts.svg') }}" alt="" class="donut">
            <img src="{{ url_for('static', filename='search_page/cupcake.svg') }}" alt="" class="cupcake">
            <img src="{{ url_for('static', filename='search_page/tart.svg') }}" alt="" class="tart">

        </div>

        <section class="search-results-container">
            <header class="src-header">
                <div class="item-count-container">
                    <p class="item-count-text">Count:</p>
                    {% if results_count > 100 %}
                        <p>99+</p>
                    {% else %}
                        <p> {{ results_count }}</p>
                    {% endif %}

                </div>

                <div class="item-name-container">
                    <h2 class="item-name">{{ query.title()}}</h2>

                </div>

            </header>
            <div class="result-header-items">
                <header class="results-table__header">

                    <div class="header-text-container">
                        <p class="results-table__header__text">
                            Brand
                        </p>
                    </div>

                    <div class="header-text-container">

                        <p class="results-table__header__text" >
                            Portion Sizes
                        </p>

                    </div>
                    <div class="header-text-container">

                        <p class="results-table__header__text">
                            Calories
                        </p>
                    </div>
                    <div class="header-text-container">

                        <p class="results-table__header__text" >
                            More Info
                        </p>
                    </div>
                </header>
                <div class="search-results">
                    {% for food in food_list %}
                        <div class="results-table__item">
                            <div class="text-container">

                                <p class="item-content" id="brand-content">
                                    {% if food["brandOwner"] %}
                                        {{food["brandOwner"]}}
                                    {% else %}
                                        <s>UNBRANDED</s>
                                    {% endif %}
                                </p>
                            </div>
                            <div class="text-container">

                                <p class="item-content" id="portion-size-content">
                                    {{ food["servingSize"]|round(1) }}
                                </p>
                            </div>
                            <div class="text-container">
                                {% set serving_size_for_calculate = food["servingSize"] / 100 %}
                                {% for nutrient in food["foodNutrients"] %}
                                    {% if nutrient["nutrientId"] == 1008 %} <!-- 1008 - id of calories -->
                                        {% set calorie_count_per_portion = nutrient["value"] * serving_size_for_calculate %}
                                        <p class="item-content" id="calories-content">
                                            {{ (calorie_count_per_portion)|round(1) }}
                                        </p>
                                    {% endif %}
                                {% endfor %}
                            </div>

{#
{##}
                            <form action="/food/{{food["fdcId"] }}" method="GET">
                                <input type="hidden" name="food_id" value="{{ food["fdcId"] }}">
                                <button class="item-button" type="submit" value="Submit">
                                    View
                                </button>
                            </form>
                        </div>
                    {% endfor %}


                </div>
            </div>

        </section>
















    </main>

    <div class="footer">
        <button onclick="window.location.href='/search?q={{ query }}&page={{ page + 1}}'">

            See More
        </button>

    </div>

    <script defer>

        const inp = document.getElementById("input");
        const clear = (e) => {
            e.preventDefault();
            e.stopPropagation()
            inp.value = "";
            inp.focus();
        }
        const form = document.getElementById('form')
        inp.addEventListener("keydown", (e) => {
            if (e.keyCode == 13){
                form.submit();

            }
        })


        document.getElementById("clear").addEventListener("click", clear);
    </script>





</body>
</html>